@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  width: 100%;
  height: 100%;
  background-color: #f2f4f6;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

#__next {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.park-pointer > div {
  border-color: #66707c;
  background-color: #ffffff;
  color: #000000;
}
.park-pointer > svg {
  fill: #66707c;
}

.park-pointer--hightlight > div {
  border-color: #0c79fe;
  background-color: #0c79fe;
  color: #ffffff;
}
.park-pointer--hightlight > svg {
  fill: #0c79fe;
}

.park-pointer--full > div {
  border-color: #999999;
  background-color: #dcdcdc;
  color: #777777;
}

.park-pointer--full > svg {
  fill: #999999;
}

/* nprogress */
:root {
  --nprogress-color: #0c79fe;
}

#nprogress .bar {
  background: var(--nprogress-color) !important;
  padding: 0 10px !important;
  height: 3px !important;
}

#nprogress .spinner .spinner-icon {
  border-top-color: var(--nprogress-color) !important;
  border-left-color: var(--nprogress-color) !important;
}
